.default_layer_wrap {
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  overflow: hidden;
  inset: 0;
  animation: fade-in 0.3s ease-in-out 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
