<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>memberList</title>
</head>
<body>
<div class="container">
    <div>
        <!-- content -->
        <th:block layout:fragment="content">
            <div>memberList!!!</div>
            <div>memberList!!!</div>
            <div>memberList!!!</div>
            <div>memberList!!!</div>
            <div>memberList!!!</div>
            <ul>
                <li th:each="member : ${memberList}">
                    <span th:text="${member.userid}">USERID</span> -
                    <span th:text="${member.name}">NAME</span>
                </li>
            </ul>
        </th:block>
    </div>
</div>

</body>
</html>