.board_title {
  display: flex;
  padding: 1rem;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ddd;
  margin-bottom: 0.5rem;
}
.left {
  margin-right: 1rem;
}
.channel_icon {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
}
.buttons {
  display: flex;
  flex-shrink: 0;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  padding-left: 1rem;
}
.wiki_button {
  padding: 0.2rem;
  height: 2rem;
  min-width: 2rem;
  margin-right: 0.5rem;
  border: 1px solid #aaa;
}
.wiki_button_notification {
  padding: 0.2rem;
  height: 2rem;
  min-width: 2rem;
  border: 1px solid #aaa;
}
.button_icon {
  font-size: 1rem;
  padding: 0 0.1rem;
}
.button_text {
  align-items: center;
  display: flex;
  font-size: 0.9rem;
  padding: 0 0.2rem;
}
.right {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 0;
}

.head {
  display: flex;
}

.channel_name {
  font-size: 1.3rem;
  font-weight: 500;
}

.description {
  font-size: 0.9rem;
  color: #666;
  line-height: 1.3rem;
}
