.section {
  position: relative;
  padding: 2rem 0rem 2rem 0rem;
  text-align: center;
}
.title {
  font-size: 2.5rem;
  margin: 1rem 0rem;
}

.description {
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0.5rem 0rem;
}
.skills {
  display: grid;
  grid-template-columns: 6fr 4fr;
  margin: 0 0 0 0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.6);
}
.skills__title {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
}
.skills__coding {
  grid-row: span 2;
  padding: 1rem;
}
.skills__tools {
  padding: 1rem;
  font-size: 2rem;
  font-weight: 700;
}
.skills__etc {
  padding: 1rem;
  font-size: 2rem;
  font-weight: 700;
}
.skills__title__li {
  font-weight: 500;
  font-size: 1rem;
  padding: 0.1rem 0 0.1rem 0;
}
