<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>채널 목록</title>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/channel/channelList.css}">
    </th:block>
</head>
<body>
<div class="container">
    <div>
        <th:block layout:fragment="content">
            <div>channelList!!!</div>
            <h2>채널 목록</h2>
            <div class="list-group mt-4">
                <a th:each="channel : ${channelList}"
                   th:href="@{/channel/{channelSlug}(channelSlug=${channel.channelSlug})}"
                   class="list-group-item list-group-item-action channel-item">
                    <div class="channel-content">
                        <h5 class="channel-title" th:text="${channel.channelTitle}">채널 이름</h5>
                        <p class="channel-slug" th:text="${channel.channelSlug}">채널 슬러그</p>
                        <p class="channel-description" th:text="${channel.channelDescription != null ? (channel.channelDescription.descriptionTextFirst != null ? channel.channelDescription.descriptionTextFirst : '없음') : '없음'}">채널 설명</p>
                    </div>
                </a>
            </div>

        </th:block>

        <!-- 페이지별 JS 파일 -->
        <th:block layout:fragment="script">
            <script th:src="@{/js/channel/channelList.js}"></script>
        </th:block>
    </div>
</div>

</body>
</html>