<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div>
        <!-- content -->
        <th:block layout:fragment="content">
            <div>channelList!!!</div>
            <div>channelList!!!</div>
            <div>channelList!!!</div>
            <div>channelList!!!</div>
            <div>channelList!!!</div>
            <div>channelList!!!</div>
            <div>channelList!!!</div>
            <div>channelList!!!</div>
            <div>channelList!!!</div>
            <ul>
                <li th:each="channel : ${channelList}">
                    <p th:text="${channel.channelId}"></p>
                    <p th:text="${channel.channelSlug}"></p>
                    <p th:text="${channel.channelTitle}"></p>
                    <p th:text="${channel.isDeleted}"></p>
                    <p th:text="${channel.createdAt}"></p>
                    <p th:text="${channel.updatedAt}"></p>
                </li>
            </ul>
        </th:block>
    </div>
</div>

</body>
</html>