<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 공통 CSS 파일 -->
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <!-- 페이지별 CSS 파일 -->
    <th:block layout:fragment="css"></th:block>
</head>

<body>
<!-- header -->
<th:block th:replace="fragments/header :: header"></th:block>

<div class="container">
    <div>
        <th:block layout:fragment="content"></th:block>
    </div>
</div>

<!-- footer -->
<th:block th:replace="fragments/footer :: footer"></th:block>

<!-- 공통 JS 파일 -->
<script th:src="@{/js/common.js}"></script>
<!-- 페이지별 JS 파일 -->
<th:block layout:fragment="script"></th:block>
</div>
</body>
</html>