.sidebar_item {
  border: 1px solid brown;
  background-color: white;
  padding: 1rem;
  margin-bottom: 0.75rem;
  border: 1px solid;
  border-color: #bbb;
  border-radius: 6px;
}

.item_title {
  padding: 0 0 0.6rem 0;
  font-size: 1.3rem;
}

.sidebar_by {
  display: block;
  text-align: right;
  font-size: 12px;
}

.link_list_item {
  font-size: 1rem;
  display: block;
  color: #0070f3; /* 링크 색상 조절 (원하는 색상으로 조절 가능) */
  text-decoration: none; /* 링크 밑줄 제거 */
  transition: color 0.3s ease-in-out; /* hover 시 색상 변화 부드럽게 적용 */
}

.link_list_item:hover {
  font-size: 1rem;
  text-decoration: underline; /* hover 시 밑줄 표시 */
  color: #004080; /* hover 시 색상 변경 (원하는 색상으로 조절 가능) */
}
