<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
<!-- Mybatis 관련 설정 작성하기 * 아래 순서 중요, 바뀌면 안됨! -->

<!-- SqlSessionTemplate 관련 설정 -->
<settings>
    <setting name="jdbcTypeForNull" value="NULL"/>
</settings>

<!-- typeAliases -->
<typeAliases>

    <typeAlias type="glico.pocky.domain.member.domain.Member" alias="Member"/>

</typeAliases>

<mappers>
    <mapper resource="/mapper/member.xml"/>
</mappers>



</configuration>