.write_wrapper {
  max-width: 1300px;
  display: grid;
  margin: 0 auto;
  grid-template-columns: auto 1fr calc(300px + 0.75rem);
}
.article_write {
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #bbb;
  width: 1000px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 1rem 1rem 1rem 1rem;
}
.sidebar_wrapper {
  display: block;
  width: 295px;
  padding: 0.7rem 0 0 0.7rem;
}

.write_head {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #bbb;
  padding: 0.5rem 0.75rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}
.sub_row {
  padding: 0 0 0 0.5rem;
}
.bullet_point_text {
  padding: 0 0.5rem 0 0;
  font-size: 1rem;
  font-weight: 500;
}
.radioInput {
  vertical-align: middle;
  appearance: none;
}
.radioInput[name='category']:checked + label {
  background-color: #00a495;
  border-color: #00a495;
  color: #fff;
}

.radioInput[name='category'] + label {
  border: 1px solid transparent;
  border-radius: 100px;
  padding: 0 10px;
  cursor: pointer;
}
.title_row {
  padding: 1rem 0 1rem 0;
}
.title_input_group {
  width: 100%;

  display: flex;
}
.title_group_text {
  background-color: #eee;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;
}
.title_input {
  padding: 0 0 0 0.5rem;
  width: 90%; /* Ensure the input takes up 100% of the parent width */
  border: 1px solid #ced4da;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.title_input:focus {
  outline: none;
  border-radius: 0;
  border-color: #007bff; /* 검은색 대신 연한 하늘색으로 변경 가능 */
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.4); /* 연한 하늘색 효과 추가 */
}
.write_body {
  border: 1px solid yellow;
  height: 600px;
}

.submit_button {
  float: right;
  padding: 0.5rem;
  background-color: #eee;
  border-radius: 5%;
}
